
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Arbutus&family=Arbutus+Slab&display=swap');


:root {
    --spacing-xs: 0.5rem;   /* Extra pequeno */
    --spacing-sm: 1rem;     /* Pequeno */
    --spacing-md: 1.5rem;   /* Médio */
    --spacing-lg: 2rem;     /* Grande */
    --spacing-xl: 3rem;     /* Extra grande */
    --primary-color: #000;  
    --secundary-color:#E58124;
    --tertiary-color: #FFFBF4;
  }
h1, h2,h3,p{
    margin:0
}  
body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'arbutus slab';
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm);
    height: 10vh;
    background-color: var(--primary-color);
}
.iconHeader{
    color: var(--tertiary-color);
    font-size: var(--spacing-xl)
}
.logo{
    height: 100%;
}
.heroBanner{
    /* usar este no gitpages background-image: url('../imgs/heroBannerIMG.webp'); */
    background-image: url(/imgs//heroBannerIMG.webp);
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-top: 1px solid white;
}
.hero__description{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    justify-content: end;
    background: rgba(19, 19, 19, 0.6);
    align-items: center;
    text-align: center;
    padding: var(--spacing-xs);
    
}
.hero__description h1{
    font-family: 'arbutus slab';
    font-size: 20px;
    color: var(--tertiary-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);    
    margin: 0;
    
}
.btn-default{
    background-color: var(--primary-color);
    padding: var(--spacing-sm);
    text-decoration: none;
    border-radius: 20px;
    color: var(--secundary-color);
    font-family: 'angkor';
    outline: 1px solid var(--secundary-color);
    text-align: center;
    text-indent: 0px;
}
.btn-default:hover{
    background-color: var(--secundary-color);
    color: var(--primary-color);

}

.simpleDivision{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    height: 16vh;
    border-top: 1px solid white
}
.title {
    font-family: 'arbutus';
    color: var(--tertiary-color);
    font-size: var(--spacing-lg);
    letter-spacing: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);   
    text-align: center; 
}
.menu__container{
    background-color:var(--primary-color);
    display: flex;
    width: 100vw;
    /* height: 25vh; */

    gap: var(--spacing-sm);
}
.container__img, .menu__description{
    flex: 1 ;
}
.container__img{
display: flex;
justify-content: center;
padding: var(--spacing-sm);
}
.container__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;

}
.menu__description{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-sm);
    gap: 1rem;
    align-items: center;
    color: var(--tertiary-color);
    text-indent: 10px;

}
.menu__description p, .menu__description h2{
    max-width: 100%;
    margin: 0
}
.menu__description h2 {
    color: #E58124;
    text-align: center;
    font-family: 'arbutus';
    font-size: 1.25rem;
}
.menu__description p {
    text-indent: 10px;
    text-align: justify;
    font-family: 'arbutus slab';
}
.btn-secundary {
    background-color: var(--secundary-color);
    color: var(--primary-color);
 
}
.btn-secundary:hover {
    background-color: var(--primary-color);
    color: var(--secundary-color);
}
#menu__completed{
    display: inline-block;
    margin: 0 auto;
    padding: var(--spacing-md);
    font-size: var(--spacing-md);
    text-align: center;
    width: 100%;
    color: var(--secundary-color);
    background-color: #000;
    font-family: 'arbutus';
    box-sizing: border-box;
}
#menu__completed:hover{
    color: var(--tertiary-color);
    font-size: var(--spacing-xl);
    transition: font-size 0.3s ease;
}
.about-us{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.about__content{
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: 0px;
    padding: 0px, 1rem;
    justify-content: space-evenly;
    color: var(--tertiary-color);
}
.about__content p{
    margin: 0px;
    text-indent: 10px;
    text-align: justify;
    padding: var(--spacing-sm);
}
.imgContainer__about img {
    max-width: 100%;
    height: auto;
}

.delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--spacing-sm);
    height: 70vh;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}
.delivey__icons{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}
.delivery p{
    margin: 0px;
    text-indent: 10px;
    text-align: justify;
}

.location{
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: var(--spacing-xl);
    background-color: #000;
    color: var(--tertiary-color);
  
}
.locationAddress p{
    width: 50%;
    font-size: var(--spacing-sm);
    text-align: justify ;
    text-indent: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
    background-color: var(--primary-color);
}

.logoIMG{
    max-width: 100px;
}
#footer__menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: 0;
    margin: 0;
    align-items: center;
}
.footer-item{
    text-decoration: none;
    color: #fffbf4a4;
}
.footer-item:hover{
    text-decoration: none;
    color: #fffbf4;
}
#dev{
    display: inline-block;
    background-color: rgba(163, 161, 161, 0.5);
    width: 100vw;
    text-align: center;
    padding: 3px;
    color: #000000a1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}